
body{
    background-image: url(../../../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-size: 100%;

}
input{
    display: none;
}
.tema h3{
    border: 2px solid #fff;
    width: 30vw;
}